@model JDRHelper.Models.H_Race

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>H_Race</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Resistence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Resistence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Capacite1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Capacite1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Capacite2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Capacite2)
        </dd>

        @{
            foreach (var item in Model.Details)
            {
                <p>
                    @item.NomStat: @item.ValeurStat;
                </p>
            }
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
