<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JDR Helper</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JDRHelper", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> @{ Html.RenderAction("MenuDe", "Utilisateur"); }</li>       
                    <li>@Html.ActionLink("Créateurs", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Utilisateur", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Personnages", "Index", "PJ")</li>
                    @if (JDRHelper.Infrastructure.TheSession.CurrentUser == null)
                    {
                        <li>@Html.ActionLink("Enregistre toi", "Register", "Utilisateur", new { area = "" }, null)</li>
                        <li>
                            <form action="@Url.Action("Connection","Utilisateur")" method="post">
                                <input type="text" name="Email" value="Email" class="ajout" />
                                <input type="password" name="Password" value="Password" class="ajout" id="mdp" />
                                <input type="submit" name="Connection" value="Connection" class="ajout" />
                            </form>
                        </li>
                    }
                    @if (JDRHelper.Infrastructure.TheSession.CurrentUser != null)
                    {
                        <li>@Html.ActionLink("Déconnection", "Logout", "Utilisateur", new { area = "" }, null)</li>
                    }
                    @if (JDRHelper.Infrastructure.TheSession.CurrentUser != null && JDRHelper.Infrastructure.TheSession.CurrentUser.Role == "Admin")
                    {
                        <li>@Html.ActionLink("Aller a l'écran Admin", "Index", "Home", new { area = "Admin" }, null)</li>
                    }
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year - JDRHelper Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/De")
    @Styles.Render("~/Content/Place")

    @RenderSection("scripts", required: false)
    @RenderSection("div", required: false)


</body>
</html>
