@model JDRHelper.Models.H_Equipement

@{
    ViewBag.Title = "DetailsArmure";
}

<h2>DetailsArmure</h2>

<div>
    <h4>H_Equipement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Armure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armure.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matiere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matiere.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Style)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Style.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enchantement)
        </dt>

        @if (Model.Id_Enchantement != null)
        {
            <dd>
                @Html.DisplayFor(model => model.Enchantement.Nom)
            </dd>
        }
    </dl>
</div>

<div class="form-group">
    @{
        foreach (var item in Model.DetailsArmure)
        {
            <p>
                @item.Key: @item.Value;
            </p>
        }
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
